.module {
  padding-bottom: 30px;
}

.hero {
  height: 400px;
  margin-bottom: -80px;
  padding-bottom: 80px;
  background-color: #f55;
  background-image: url(../../../assets/hero-bg.png);
  background-size: auto 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 640px) {
  .hero {
    height: 300px;
  }
}

.heroImage {
  width: 100%;
  display: block;
}

.wrapper {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 10px;
}
