.module {
  padding: 20px;
  background-color: white;
  border: 1px solid var(--color-border-main);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  margin: 0;
  font-size: 24px;
}

.settingList {
  background-color: #f8f8f8;
  border-radius: 5px;
}

.example {
  margin-top: 5px;
}
