.module {
  padding: 20px;
  background-color: white;
  border: 1px solid #f88;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.quiz {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  margin: 0;
  font-size: 20px;
}

.emphasis {
  padding: 0 5px;
  font-size: 32px;
}

.answer {
  padding: 20px;
  background-color: var(--color-background);
  border-radius: 5px;
}

.answerLabel {
  margin: 0;
  color: #f55;
  font-size: 16px;
}

.answerButtonContainer {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
