.result {
  font-size: 32px;
}

.correct {
  color: var(--color-text-correct);
}

.notCorrect {
  color: var(--color-text-not-correct);
}

.checkAnswer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
